MAIL_SUBJECT="Hello {{name}}"
MAIL_BODY_PATH="storage/body.md"
TEST_EMAIL="mail@tester.com"
TEST_EMAIL_SLOTS=1
BASE_URL="https://example.com/presentation"
SENDER_EMAIL="sender@example.com"
LINK_ENCRYPTION_TOKEN="replace-with-at-least-32-random-characters"
LNK_BEARER_TOKEN=""
